<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MyHomePage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<style>
    .block {
        display: block;
        width: 100%;
        border: none;
        background-color: #222;
        padding: 14px 28px;
        font-size: 16px;
        color: white;
        cursor: pointer;
        text-align: center;
    }

    .container {
        padding-top: 100px;
    }

    .image{
        max-width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-top: 10px;
    }

</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MyHomePage</a>
        </div>
        <th:block th:if="${loginUser}">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a class="btn" th:href="@{addNewPage}">Add</a></li>
                <li><a class="btn" th:href="@{statisticPage}">Statistic</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{logout}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </th:block>
        <th:block th:if="not ${loginUser}">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a class="btn disabled" href="#">O_mnie</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{registration}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a th:href="@{login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </th:block>
    </div>
</nav>
<th:block th:if="${itHomePage}">
    <div class="container">
        <th:block th:each="home, i: ${homeList}">
            <div class="row">
                <h2 th:text="${home.title}"/>
                <p th:text="${home.description}"/>
                <p th:text="${'Dodano: ' + home.createDate}"/>
                <a th:href="${'page?id=' + home.id}">Zobacz więcej</a>
                <a th:if="${loginUser}" th:href="${'page?delete=' + home.id}">Usuń wspis</a>
            </div>
        </th:block>
    </div>
</th:block>
<th:block th:if="${itPage}">
    <div class="container">
        <h2 th:text="${home.title}"/>
        <p th:text="${home.description}"/>
        <th:block th:each="content, i: ${home.contents}">
            <p th:text="${content.text}"/>
            <div th:if="${content.code != ''}">
                <textarea class="form-control" th:field="*{home.contents[__${i.index}__].code}" readonly/>
            </div>
            <img th:src="${'image?id=' + content.image.id}" class="image"/>
        </th:block>
        <p th:text="${'Dodano: ' + home.createDate}"/>
        <a th:href="@{home}">
            <button class="block" type="Button" th:text="Wróć"></button>
        </a>
    </div>
</th:block>

</body>
</html>